*{
    padding: 0;
    margin: 0;
}

html{

}

#all{
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    
}

body {
    font-family: sans-serif;
    background-color: #e6d9d2;
    overflow-x: hidden;
    padding: 0;
    
    height: auto;
    min-height: 100vh;

}
    
  
  .contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: none;
    
    min-height:  300px;
    max-height: 340px;
  }


  #titulo{
    display: block;
    position: inherit;
    width: 100%;
    height: auto;
    padding: 20px 30px;
    text-align: center;
    font-family: sans-serif;
    background-color: #671cff;
    color: #fffff7;

  }
  
  .tabla-ventas{
    width: 50%;
    margin: 0 auto;
    background-color: #fffff7;
    color: #273a2d;
    overflow: scroll;
    overflow-x: hidden;

  }

  .tabla-ventas::-webkit-scrollbar {
    width: 12px;
    background: #0000003a;
    border-radius: 14px;
}

.tabla-ventas::-webkit-scrollbar-thumb {
  background: #5a4b4b71;
  border-radius: 7px;
}

.tabla-ventas::-webkit-scrollbar-thumb:hover {
  background: #0607014b;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.tabla-ventas::-webkit-scrollbar-thumb:active {
  background-color: #383a3b93;
}

  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  

  
  summary{
    
    padding: 10px 10px;
    width: auto;
    font-size: 1.1em;
    background-color: #d6e6d257;
  }

  

  #verDetalles{
    display: block;
    position: absolute;
    width: 88%;
    left: 5%;
    min-height: 100px;
    top: 450px;
    min-height: 220px;
    height: auto;
    background-color:#671cff;
    margin-bottom: 20px;
  /*  bottom: 20px;*/
    padding: 10px 20px;
    overflow: scroll;
    overflow-x: hidden;
    color: #fffff7;
    
  }

  
  #verDetalles::-webkit-scrollbar {
    width: 12px;
    background: #d6e6d244;
    border-radius: 14px;
}

#verDetalles::-webkit-scrollbar-thumb {
  background: #5a4b4b71;
  border-radius: 7px;
}

#verDetalles::-webkit-scrollbar-thumb:hover {
  background: #06070183;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
#verDetalles::-webkit-scrollbar-thumb:active {
  background-color: #989a9c59;
}

  #verDetalles table th, td {
    padding: 10px 3px;
    
    font-family: sans-serif;
    font-weight: normal;
  }

  .btn{
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: #d6e6d2;
    color: #671cff;
  }

  #detallesTable{
    
  }

  /*SIMULADOR*/

  #allformulario{
    padding-top: 50px;
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #cce0d3;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  .formulario {
    
    width: 50%;
    margin-left: 25%;
    background-color: rgba(68, 67, 67, 0.295);
    padding: 10px 20px;
  }

  .form-control{
    width: 40%;
    float: right;
    font-size: 1em;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  